.header-container{
    display: flex;
    justify-content: space-between;
}
.top-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-navigation-container{
    display: flex;
    gap: 40px;
    align-items: center;
}

.part-of-logo {
    color: #2e2f42;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em
}

.logo {
    margin-right: 76px;
    color: var(--IRIS);         
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.17;
        text-decoration: none; 
        letter-spacing: 0.03em;
        display: inline-block;
}

.image-section .aspect-image:first-child .link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-section .aspect-image:first-child .link:hover {
    transform: translateY(0%);
}

.image-section .aspect-image:first-child .link:focus {
    transform: translateY(0%);
}
.link {
    text-decoration: none;
    display: inline-block;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}
.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.link:hover{
    color: #404bbf;
}
.link:focus{
    color: #404bbf;
}
.link:hover p {
    transform: translateY(0%);
  }
  
  .link:focus p {
    transform: translateY(0%);
  }

  .navigation-list{
    margin: 0;
    font-style: normal;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;

}

.list li:last-child {
    margin-right: 0;
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}


.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    /* color: #404bbf; */
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    visibility: hidden;
    
}
.nav-link:focus::after{
    visibility: visible;
}
.nav-link:hover::after{
    visibility: visible;
}
.nav-link:hover {
    color: #404bbf;

}
.nav-link:focus {
    color: #404bbf;
}

.address-container {
    font-style: normal;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color:#404bbf
}

