.section-five-container{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers {

    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    color:var(--NAVY-BLUE);
    text-align: center;
}
.list-cutomers {
    display: flex;
    gap: 24px;
    padding: 0;
}
.list-icon {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.client-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color); 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.client-link:hover{
    border-color: #404bbf;
    color: #404BBF;
}
.client-link:focus {
    background-color: #404bbf;
    border-color: #404bbf;
    color: #404BBF;
}
.svg-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon:hover,
.svg-icon:focus {
    fill: #ffffff;
}