:root{
    --IRIS: #4D5AE5;
        --NAVY-BLUE: #2E2F42;
        --WHITE: #FFFFFF;
        --SLATE: #434455;
        --CLOUD: #F4F4FD;
        --OCEAN: #404BBF;
        --cornflower:#e7e9fc;
        --icon-color:#8e8f99;
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
textarea {
  color: rgba(46,47,66,0.4);
font-size: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.48px;


}
input {
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}
img{
    display: block;
}
ul{
    list-style: none;
    text-decoration: none;
}
.body-section{
    font-family: "Roboto", sans-serif;
    color: var(--SLATE);
    background-color: var(--WHITE);
}
p {
    /* margin: 0; */
}
h2 {
    margin: 0;
}
a{
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:var(--WHITE);
    margin: 0 auto;
}

.section{
  padding: 96px 0;
}

/* header */


header {
  padding: 24px 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);;
}
@media screen and (min-width: 768px) {
  .top-header {
    padding: 16px 16px;
  }
}
@media screen and (min-width: 1158px) {
  .top-header {
    padding: 24px 0px;
  }
}

.container{
  margin: 0 auto;
}
/* .section-advantages{
  padding: 96px 16px;
} */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1158px) {
    .header-container {
      justify-content: center;
      max-width: 1158px;
      padding: 0;
    }
  }
 
  


/* .header-logo-wrap{
    display: flex;
    gap: 40px;
    align-items: center;
} */

.header-logo-wrap {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

/* mobile menu */
.mobile-menu-icon {
  margin-left: auto;
    display: block;
    border: none;
    width: 32px;
    height: 22px;
    color: var(--NAVY-BLUE);
    background-color: var(--WHITE);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    .mobile-menu-icon {
      display: none;
    }
  }

  .menu-container {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 24px 24px 40px 40px;
    background: var(--WHITE);
      box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    .menu-container {
      display: none;
    }
  }
  @media screen and (min-width: 1158px) {
    .menu-container {
      display: none;
    }
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
  background-color: var(--OCEAN);
  border-color: var(--OCEAN);
  color: var(--CLOUD);
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 32px;
  }

  .mobile-nav-item-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    color: var(--NAVY-BLUE);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav-item-link.active {
    color: var(--OCEAN);
  }
  .mobile-nav-item-link:hover,
  .mobile-nav-item-link:focus {
    color: var(--IRIS);
  }
  .mobile-nav-item-link:active{
    color: var(--OCEAN);
  }
  .icon-menu-mobile {
    width: 32px;
    height: 22px;
    stroke: currentColor;
  }
  .mobile-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-bottom: 48px;
  }
  .mobile-address-phone{
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    color: var(--IRIS);
    text-wrap: wrap;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-address-phone:hover,
  .mobile-address-phone:focus {
    color: var(--IRIS);
  }
  .mobile-address-phone:active{
    color: var(--OCEAN);
  }

  .mobile-address-email {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: var(--SLATE);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-address-email:hover,
  .mobile-address-email:focus {
    color: var(--IRIS);
  }
  .mobile-address-email:active{
    color: var(--OCEAN);
  }
  .mobile-icon-container {
    align-items: flex-start;
    gap: 56px;
    display: flex;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.modal-close, .menu-toggle{
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding-top: 1px;
    padding-left: 1px;
    color: var(--NAVY-BLUE);
    background-color: var(--cornflower);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(142, 143, 153, .5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-icon, .mobile-close-icon {
    width: 9px;
    height: 9px;
    stroke: currentColor;
  }
.web {
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--IRIS);
  }
  .web:active {
    color: var(--OCEAN);
  }
  .studio {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--NAVY-BLUE);
  }
  .white-studio {
    color: var(--CLOUD);
  }

.part-of-logo {
    color: #2e2f42;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em
}

.logo {
    color: var(--IRIS);         
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.17;
        text-decoration: none; 
        letter-spacing: 0.03em;
        display: inline-block;
}

.image-section .aspect-image:first-child .link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-section .aspect-image:first-child .link:hover {
    transform: translateY(0%);
}

.image-section .aspect-image:first-child .link:focus {
    transform: translateY(0%);
}
.link {
    text-decoration: none;
    display: inline-block;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}
.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.link:hover{
    color: #404bbf;
}
.link:focus{
    color: #404bbf;
}
.link:hover p {
    transform: translateY(0%);
  }
  
  .link:focus p {
    transform: translateY(0%);
  }
/* 
  .navigation-list{
    margin: 0;
    font-style: normal;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;

} */
.navigation-list {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .navigation-list {
      display: inline-flex;
      align-items: flex-end;
      gap: 40px;
    }
  }
  @media screen and (min-width: 1158px) {
    .navigation-list {
      margin-left: 76px;  
    }
  }

.list li:last-child {
    margin-right: 0;
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}


.nav-link {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--navyblue);
  font-size: 16px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    visibility: hidden;
    
}
.nav-link:focus::after{
    visibility: visible;
}
.nav-link:hover::after{
    visibility: visible;
}
.nav-link:hover {
    color: #404bbf;

}
.nav-link:focus {
    color: #404bbf;
}

/* .address-container {
    font-style: normal;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
} */
.address-container {
    display: block;
    display: none;
  }
  @media screen and (min-width: 428px) {
    .address-container {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .address-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 12px;
    }
  }
  @media screen and (min-width: 1158px) {
    .address-container {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 332px;
      gap: 40px;
      text-wrap: nowrap;
    }
  }

/* .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.address-link {
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: var(--SLATE);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    .address-link {
      font-size: 12px;
      line-height: 116.667%;
      letter-spacing: 0.48px;
    }
  }
  @media screen and (min-width: 1158px) {
    .address-link {
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.32px;
    }
  }

.address-link:hover {
    color:#404bbf
}





/* hero-section */



.hero {
  padding: 112px 0;
  background-color: var(--NAVY-BLUE);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

/* .hero-container{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    gap: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-container {
    gap: 48px;
  }
}



.effective {
  text-align: center;
  font-size: 36px;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  color: var(--WHITE);
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .effective {
    font-size: 56px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    text-transform: none;
  }
}
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border:none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}






/* two-section-index */

.two-section{
    padding: 96px 16px;
}
@media screen and (min-width: 1158px) {
    .two-section {
      padding: 120px 0;
    }
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  @media screen and (min-width: 768px) {
    .features-list {
      justify-content: space-between; 
    align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
    }
  }
  @media screen and (min-width: 1158px) {
    .features-list {
      justify-content: center;
    }
  }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.position {
  display: flex;
  flex-direction: column;
  gap: 8px;
  word-wrap: break-word; 
  }
  @media screen and (min-width: 768px) {
    .position {
      width: calc(50% - 12px);
      /* word-wrap: break-word;
      flex-direction: row;
      flex-wrap: wrap;
      width: 356px; */
    }
  }

  @media screen and (min-width: 1158px) {
    .position {
      width: 264px;
    }
  }
  @media screen and (max-width: 767px){
    .position{
      align-items: center;
    }
    
  }

 .icon-list {
  display: none;
    width: 264px;
    height: 112px;
  }
  @media screen and (min-width: 428px) {
    .icon-list {
      display: none;
    }
  }
  @media screen and (min-width: 768px) and (max-width 768px) {
    .icon-list {
      display: none;
    }
  }@media screen and (min-width: 1158px) {
    .icon-list {
      padding: 24px 0px;
      display: block;
      width: 264px;
      height: 112px;
      background-color: var(--CLOUD);
      border-radius: 4px;
      margin-bottom: 8px;
      align-items:center;
     justify-content:center;
   
    }
  }
  
 .strategy {
  word-wrap: break-word;
  color: #2E2F42;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin-bottom: 8px;
  /* text-align: center; */
  text-transform: capitalize;;
    }
   
    @media screen and (min-width: 1158px) {
      .strategy {
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.4px;
      }
    }

    
/* .phara {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
 } */
 .phara {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
 }
 @media screen and (min-width: 1158px) {
  .phara {
    font-weight: 400;
    font-size: 16px;
  }
}

 .phara:focus,
 .phara:hover{
    transform: translateY(0%);
 }
 


 /* three-section index */


 

 .three-section {
    padding-top: 0;
    display: none;
  }
  @media screen and (min-width: 428px) {
    .three-section {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .three-section {
      display: none;
    }
  }
  @media screen and (min-width: 1158px) {
    .three-section {
      display: block;
      padding-bottom: 120px;
    }
  }
.main2-container{
  flex-wrap: wrap;
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
 .what {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
    font-weight: 700;
    line-height: 40px;
 }

 .list-image {
    display: flex;
}
.image{
    flex-basis: calc((100%-48) / 3);
}



/* section-four index */


.four-container {
    background-color: #f4f4fd;
    padding: 96px 0;
 }
 @media screen and (min-width: 1158px) {
    .four-container {
      padding: 120px 0;
    }
  }
 .four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 72px;
    /* display: flex; */
    /* gap: 24px; */
 }
 .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 72px;
  }
  @media screen and (min-width: 768px) {
    .four {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 64px;
    }
  }
 .container-team{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
 }

 .team {
    
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-container{
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
 }
 .section-team-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--NAVY-BLUE);
}
 .p-team {
    padding: 0;
    margin: 0;
     text-align: center;
 }
 .social-list{
    margin-top: 8px;
    /* padding: 0; */
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-icon{
    width: 40px;
    height: 40px;
}

.social-media-link{
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover{
    background-color: #404bbf;
}
.social-media-link:focus{
    background-color: #404bbf;
}
.svg-social{
    fill: var(--CLOUD);
}



/* section-five index */


.container-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
  .section-five-container {
    padding: 96px; 
  }
}
@media screen and (min-width: 1158px) {
  .section-five-container {
    padding: 120px 0;
  }
}
@media screen and (min-width: 768px) {
    .section-clients {
      padding: 96px; 
    }
  }
  @media screen and (min-width: 1158px) {
    .section-clients {
      padding: 120px 0;
    }
  }
.customers {
  font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    /* margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11; */
    color:var(--NAVY-BLUE);
    /* text-align: center; */
}
.list-customers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    /* display: flex; */
    /* gap: 24px; */
    /* padding: 0; */
}

@media screen and (min-width: 768px) {
    .list-customers {
      column-gap: 24px;
    }
  }
.list-icon {
    /* width: calc((100% - 120px) / 6); */
    height: 88px;
}
.client-link{
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color); 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.client-link:hover{
    border-color: #404bbf;
    color: #404BBF;
}
.client-link:focus {
    background-color: #404bbf;
    border-color: #404bbf;
    color: #404BBF;
}
.svg-icon{
    display: block;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon:hover,
.svg-icon:focus {
    fill: #ffffff;
}






/* portofolio */

.porto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 16px;
  column-gap: 24px;
  padding: 48px 16px;
}
@media screen and (min-width: 768px) {
  .porto-list {
    justify-content: center;
    padding: 64px 0;
  }
}
@media screen and (min-width: 1158px) {
  .porto-list {
    padding: 100px 0 72px;
  }
}
.image-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .image-section {
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .image-section {
    justify-content: center;
    row-gap: 48px;
  }
}

/* .porto-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 72px;
} */
.porto-section{box-
    padding-top: 96px;
    /* padding-bottom: 120px; */
}
.navi-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);
    background-color: #f4f4fd;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navi-menu:hover {
    color: #fff;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navi-menu:focus {
    color: #fff;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-projects {
  padding: 0 16px 48px;
}
@media screen and (min-width: 768px) {
  .section-projects {
    padding: 0 16px 96px;
  }
}
@media screen and (min-width: 1158px) {
  .section-projects {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 0 120px;
  }
}
.section {
  padding: 96px 0;
}
.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);

}
.portfolio-link:hover .overlay-paragraph {
    transform: translateY(0);
}

.portfolio-link:focus .overlay-paragraph {
    transform: translateY(0); 
}
.overlay-paragraph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD);
    padding: 40px 32px;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .aspect-image{
    flex-basis: calc((100% - 48px) / 3);
} */
.aspect-image {
  position: relative;
  background: var(--white);
  border: 1px solid var(--cloud);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .aspect-image {
    border: none;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
@media screen and (min-width: 1158px) {
  .aspect-image {
    border: 1px solid var(--cornflower);
  }
}

.container-elements{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.portfolio-titles{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--NAVY-BLUE);
        margin-bottom: 8px;
}
.image-container{
    position: relative;
    overflow: hidden;
}



/* footer */



.footer-container {
    background-color: var(--NAVY-BLUE);
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    padding: 96px 15px;
  }
  @media screen and (min-width: 768px) {
    .footer-container {
      padding: 96px 0;
    }
  }
  @media screen and (min-width: 1158px) {
    .footer-container {
      padding: 120px 0;
    }
  }



.s-m-footer {
    display: flex;
    flex-flow: column;

  }
  @media screen and (min-width: 768px) {
    .s-m-footer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 72px;
      column-gap: 24px;
    }
  }
  @media screen and (min-width: 1158px) {
    .s-m-footer {
    /* letter-spacing: 0.02em; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: row;
    justify-content: center;
    max-width: 1158px;
    padding: 0;
    column-gap: 0;
    }
  }


.div-element-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17.5px;
    padding-top: 1.5px;
  }
  @media screen and (min-width: 768px) {
    .div-element-footer {
      justify-content: center;
      align-items: normal;
    }
  }

  .footer-logo-wrap {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
/* footer social media */
.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 72px 0;
  }
  @media screen and (min-width: 768px) {
    .footer-social-media {
      align-items: flex-start;
      padding: 0;
    }
  }
  @media screen and (min-width: 1158px) {
    .footer-social-media {
      margin-left: 120px;
    }
  }
.logo-footer-p {
    color: #f4f4fd;
}
.footer-additional-description {
  opacity: 0.60;
  color: var(--CLOUD);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.32px;
 }

 .s-m-phara{
    color:var(--WHITE);

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
}
.s-m-list{
    /* margin-right: 120px;
    display: flex;
    gap: 16px;
    list-style-type: none; */
    display: flex;
    gap: 16px;
}

/* footer subscribe */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  @media screen and (min-width: 768px) {
    .form-container {
      align-items: normal;
      padding-right: 42px;
    }
  }
  @media screen and (min-width: 1158px) {
    .form-container {
      padding: 0;
      margin-left: 80px;
    }
  }
.footer-link-sm{
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-link-sm:hover{
background-color: #31d0aa;
}
.footer-link-sm:focus{
background-color: #31d0aa;
}
.icon-footer{
    fill:var(--CLOUD);
}
.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #F4F4FD;

}

.subscription-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .subscription-form {
      flex-direction: row;
      gap: 24px;
    }
  }
  @media screen and (min-width: 1158px) {
    .subscription-form {
      flex-direction: row;
    }
  }

.input-form{
  opacity: 0.60;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--NAVY-BLUE);
 
}
@media screen and (min-width: 768px) {
    .input-form {
      width: 264px;
    }
  }
  .input-form::placeholder {
    position: absolute;
    display: block;
    top: auto;
    left: 16px;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.48px;
    color: var(--white);
  }
  .input-form:hover,
  .input-form:focus {
    outline: none;
    border-color: var(--iris);
  }

.button-form {
    width: 165px;
    gap: 16px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: unset;
    border-radius: 4px;
}

    


.svg-subscribe{
width: 24px;
height: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* MODAL */

.svg-icon-x{
    stroke: currentColor;
}

.footer-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-box{
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    flex-shrink: 0;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

@media screen and (min-width: 768px) {
  .modal-box {
    width: 408px;
  }
}@media screen and (min-width: 1158px) {
  .modal-box {
    width: 408px;
  }
}
.button-open-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-open-close:hover,
.button-open-close:focus {
background-color: #404bbf;
border: none;
fill: #ffffff;
}
.text-modal{
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 16px;
}
.text-icon-modal {
    margin-bottom: 8px;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-color);
    display: block;
    margin-bottom: 4px;
}
.inp:checked + .form-label .privacy-policy {
    border: none;
    background-color: var(--OCEAN);
    fill: var(--CLOUD);

}
.inp:focus + .form-label .privacy-policy {
    outline: 1px solid #404bbf;
  }
  .inp:checked + .form-label .privacy-policy .svg-checkbox {
    fill: #404bbf;  
  }
  .inp:checked + .form-label .svg-checkbox {
    fill: #404bbf; 
  }
  .container-input{
    position: relative;
}
.container-input input:focus + .icon-form {
    fill: #4D5AE5;
  }

.icon-form{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus{
    border-color: #4D5AE5;
}
.div-icon-modal{
    margin-bottom: 16px;
}
.div-checkbox{
    margin-bottom: 24px;
}
.div-checkbox .span-checkbox {
    background-color: var(--color1, #404bbf); 
}
.div-checkbox input:checked + label .span-checkbox {
    border: none; 
   fill: var(--CLOUD);  
}
.privacy-policy{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.user-comment{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link{
    color: var(--IRIS);
    text-decoration-line: underline;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-checkbox {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-checkbox use {
    pointer-events: none;
  }
  .submit-button{
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus{
    border-color: #4D5AE5;
}
.textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46,47,66,0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);

}






