:root{
    --IRIS: #4D5AE5;
        --NAVY-BLUE: #2E2F42;
        --WHITE: #FFFFFF;
        --SLATE: #434455;
        --CLOUD: #F4F4FD;
        --OCEAN: #404BBF;
        --cornflower:#e7e9fc;
        --icon-color:#8e8f99;
}
img{
    display: block;
}
.logo {
    margin-right: 76px;
    color: var(--IRIS);         
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.17;
        text-decoration: none; 
        letter-spacing: 0.03em;
        display: inline-block;
}

.part-of-logo {
        color: #2e2f42;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.17;
        letter-spacing: 0.03em
}
.top-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    margin: 0 auto;
    align-content: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.main-navigation-container{
    display: flex;
    gap: 40px;
    align-items: center;
}
ul{
    list-style: none;
    text-decoration: none;
}
/* section body style */
.body-section{
    font-family: "Roboto", sans-serif;
    color: var(--SLATE);
    background-color: var(--WHITE);

}
p {
    margin: 0;
}
h2 {
    margin: 0;
}
.image-section .aspect-image:first-child .link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-section .aspect-image:first-child .link:hover {
    transform: translateY(0%);
}

.image-section .aspect-image:first-child .link:focus {
    transform: translateY(0%);
}
.link {
    text-decoration: none;
    display: inline-block;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}
.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.link:hover{
    color: #404bbf;
}
.link:focus{
    color: #404bbf;
}
.link:hover p {
    transform: translateY(0%);
  }
  
  .link:focus p {
    transform: translateY(0%);
  }
.address-list{
    display: flex;
    gap: 40px;
}

.list li:last-child {
    margin-right: 0;
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}
.address-container {
    font-style: normal;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color:#404bbf
}
.hero {
    margin: 0 auto;
    background-color: var(--NAVY-BLUE);
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.aparence{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
} 
/*buttons section*/
.porto-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.porto-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 72px;
}
.navigation-list{
    margin: 0;
    font-style: normal;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;

}
.image-container{
    position: relative;
    overflow: hidden;
}
.navi-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);
    background-color: #f4f4fd;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navi-menu:hover {
    color: #fff;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navi-menu:focus {
    color: #fff;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*Button - first section*/

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border:none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}
.portfolio-link {display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);

}
.portfolio-link:hover .overlay-paragraph {
    transform: translateY(0);
}

.portfolio-link:focus .overlay-paragraph {
    transform: translateY(0); 
}
.overlay-paragraph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD);
    padding: 40px 32px;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.aspect-image{
    flex-basis: calc((100% - 48px) / 3);
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}
.container-elements{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.portfolio-titles{
    margin-bottom: 8px;
}

/*section 2*/
.icon-list{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 112px;
    background-color: var(--CLOUD);
    border-radius: 4px;
    margin-bottom: 8px;
 }
.position {
    width: 100%;
    min-width: 264px;
}
.two-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



a{
    text-decoration: none;
}
.footer-container {
    background-color: var(--NAVY-BLUE);
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    padding: 100px 0;
}
 .logo-footer-p {
     color: #f4f4fd;
 }
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:var(--WHITE);
    margin: 0;
}
.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    /* color: #404bbf; */
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    visibility: hidden;
    
}
.nav-link:focus::after{
    visibility: visible;
}
.nav-link:hover::after{
    visibility: visible;
}
.nav-link:hover {
    color: #404bbf;

}
.nav-link:focus {
    color: #404bbf;
}
.portfolio-titles{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--NAVY-BLUE);
        margin-bottom: 8px;
}
/*  section one*/
.effective {
    font-size: 56px;
    line-height: 1.07;
    text-align:center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
 /* section two */
 .what {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--NAVY-BLUE);
        margin-bottom: 72px;
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     border: 0;
 }
 .phara {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
    /* border-left: px solid #E7E9FC;
        border-right: px solid #E7E9FC;
        text-align: left; */
    /* margin-bottom: 16px; */
 }
 .phara:focus,
 .phara:hover{
    transform: translateY(0%);
 }
 .p-team {
    padding: 0;
    margin: 0;
     text-align: center;
 }
 /* section three */
 .list-image {
     display: flex;
     gap: 24px;
 }
 .image{
    flex-basis: calc((100%-48) / 3);
}
 .three-section{
    padding-bottom: 120px;
 }
 .strategy {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;

 }
 /* section four */
 .section-four-container {
    background-color: #f4f4fd;
    padding: 120px 0;
 }
 .team-container{
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
 }
 .four{
    display: flex;
    gap: 24px;
 }
 .name{
    background-color: #ffffff;
 }
 .white-title{
    background-color: #FFFFFF;
 }
 .footer-additional-description {
    line-height: 1.5;
    color:var(--CLOUD);
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 16px;
 }
.team {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.social-list{
    margin-top: 8px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-media-link{
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover{
    background-color: #404bbf;
}
.social-media-link:focus{
    background-color: #404bbf;
}
.social-icon{
    width: 40px;
    height: 40px;
}
.svg-social{
    fill: var(--CLOUD);
}
/* section five */
.section-five-container{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers {

    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    color:var(--NAVY-BLUE);
    text-align: center;
}
.list-cutomers {
    display: flex;
    gap: 24px;
    padding: 0;
}
.list-icon {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.client-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color); 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.client-link:hover{
    border-color: #404bbf;
    color: #404BBF;
}
.client-link:focus {
    background-color: #404bbf;
    border-color: #404bbf;
    color: #404BBF;
}
.svg-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon:hover,
.svg-icon:focus {
    fill: #ffffff;
}
/* footer */
.s-m-footer{
    display: flex;
    align-items: baseline;
    letter-spacing: 0.02em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-sm{
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-link-sm:hover{
background-color: #31d0aa;
}
.footer-link-sm:focus{
background-color: #31d0aa;
}
.icon-footer{
    fill:var(--CLOUD);
}
.s-m-phara{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--WHITE);
    margin-left: 40px;
    max-width: 264px;
    margin-top: 16px;
}
.div-element-footer{
    margin-right: 120px;
}
.s-m-list{
    margin-right: 120px;
    display: flex;
    gap: 16px;
    list-style-type: none;
}
/*modal*/
.text-modal{
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 16px;
}
.text-icon-modal {
    margin-bottom: 8px;
}
.div-icon-modal{
    margin-bottom: 16px;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-color);
    display: block;
    margin-bottom: 4px;
}
.footer-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-box{
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    flex-shrink: 0;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46,47,66,0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.inp:checked + .form-label .privacy-policy .svg-checkbox {
    fill: #404bbf;  
  }
  .inp:checked + .form-label .svg-checkbox {
    fill: #404bbf; 
  }
  .svg-checkbox {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-checkbox use {
    pointer-events: none;
  }


.user-comment{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-checkbox{
    margin-bottom: 24px;
}
.inp:checked + .form-label .privacy-policy {
    border: none;
    background-color: var(--OCEAN);
    fill: var(--CLOUD);

}
.inp:focus + .form-label .privacy-policy {
    outline: 1px solid #404bbf;
  }
.privacy-policy{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.privacy-policy-link{
    color: var(--IRIS);
}
.submit-button{
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.span-checkbox{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1), 
         border 250ms cubic-bezier(0.4, 0, 0, 0.2, 1), 
         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.textarea:focus{
    border-color: #4D5AE5;
}
.div-checkbox .span-checkbox {
    background-color: var(--color1, #404bbf); 
}
.privacy-link{
    color: var(--IRIS);
}
.div-checkbox input:checked + label .span-checkbox {
    border: none; 
   fill: var(--CLOUD);  
}
.span-checkbox{
    width: 16;
    height: 16;
}
.button-open-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    /* transform: translate(-50%, -50%); */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-open-close:hover,
.button-open-close:focus {
background-color: #404bbf;
border: none;
fill: #ffffff;
}
.container-input{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus{
    border-color: #4D5AE5;
}
.button-form {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.icon-form{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4) ;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;
}
.container-input input:focus + .icon-form {
    fill: #4D5AE5;
  }

.svg-subscribe{
    margin-left: 16px;
}
.form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.formular{
    display: flex;
    gap: 24px;
}
.input-form{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    border-radius: 4px;
    color: #ffffff;
}

