.three-section{
    padding-bottom: 120px;
 }
 .what {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--NAVY-BLUE);
        margin-bottom: 72px;
 }
 .list-image {
    display: flex;
    gap: 24px;
}
.image{
    flex-basis: calc((100%-48) / 3);
}
