.two-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.position {
    width: 100%;
    min-width: 264px;
}
.icon-list{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 112px;
    background-color: var(--CLOUD);
    border-radius: 4px;
    margin-bottom: 8px;
 }
 .strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}
.phara {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
 }
 .phara:focus,
 .phara:hover{
    transform: translateY(0%);
 }
 